<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Web Developer Website">
  <meta name="author" content="PT. Inch Interactive Media">

	<title>INCH CORP</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/custom-inch.css">
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
      	<div class="container-fluid">
        	<div class="navbar-header">
          		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            	<span class="sr-only">Toggle navigation</span>
	            	<span class="icon-bar"></span>
	            	<span class="icon-bar"></span>
	            	<span class="icon-bar"></span>
          		</button>
          		<a class="navbar-brand" href="/">Inchs Lab</a>
        	</div>
        	<div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <%if(!currentUser){%>
                  
                <%} else {%>
                  <li><a href="/">Hello, <%=currentUser.username%></a></li>
                  <li id="panel-button" class="btn btn-xs btn-primary"><a href="/panel">Panel</a></li>
                <% } %>
              </ul>
          		<ul class="nav navbar-nav navbar-right">
            		<li><a href="/about">About</a></li>
            		<li><a href="/work">Work</a></li>
            		<li><a href="/blogs">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
          		</ul>
        	</div>
      	</div>
    </nav>

