<%include ./partials/header%>
<div id="main-image" class="jumbotron">
  	<div class="container">
  		<div id="section-jumbotron">
  			<span>
  				<h1>DIGITAL WORKER</h1>
  				<p>
  				We are Creative Team based in Jakarta, Indonesia <br>
	  			Work with passion and feel to fullfil your needs <br>
	  			Our work cover every segment at Creative Industry <br>
	  			Website Developing, Photography, Digital Design <br>
	  			Everything you need!
	  			</p>
  			</span>
  		</div>
  	</div>
</div>
<div id="practice-title" class="row">
	<div class ="col-lg-12">
		<h1>Services</h1>
	</div>
</div>
<div class="container marketing">
	<div class="row">
		<div class="col-lg-4">
	        <img class="img" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
	         <h2>Web Develop</h2>
	         <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
	    </div><!-- /.col-lg-4 -->
	    <div class="col-lg-4">
	        <img class="img" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
	        <h2>Photography</h2>
	        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
	    </div><!-- /.col-lg-4 -->
	    <div class="col-lg-4">
	        <img class="img" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
	        <h2>Digital Design</h2>
	        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
	    </div><!-- /.col-lg-4 -->
	   	<div class="col-lg-4">
	        <img class="img" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
	        <h2>Digital Printing</h2>
	        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
	    </div>
	    <div class="col-lg-4">
	        <img class="img" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
	        <h2>Social Media</h2>
	        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
	    </div>
	    <div class="col-lg-4">
	        <img class="img" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
	        <h2>SEO/Analytic</h2>
	        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
	    </div>	    
	</div><!-- /.row -->
</div>
<div id="practice-title" class="row">
	<div class ="col-lg-12">
		<h1>About Us</h1>
	</div>
</div>

<%include ./partials/footer%>